<%- layout('layout/layout') %>

<h1 class="text-center text-decoration-underline text-uppercase my-5">
	Admin dashboard
</h1>
<div class="container">
	<ul
		class="
			d-flex
			w-100
			list-unstyled
			justify-content-around
			border-bottom border-dark
			pb-2
		"
	>
		<li>Orders</li>
		<li>Order Status</li>
		<li>Delivery person</li>
	</ul>
	<% if (allOrders.length) { %> <% allOrders.forEach((order,index) => { %>
	<div class="border">
		<h6 class="text-center text-uppercase border-bottom">
			Order <%= index+1 %>
		</h6>
		<div class="row">
			<% order.products.forEach(product => { %>
			<div class="col-4">
				<h5><%= product.name %></h5>
				<img
					class="w-50"
					src="<%= product.image %> "
					alt="Image not found..."
				/>
			</div>
			<% }) %>
			<div class="col-2 me-auto text-center"><%= order.orderState %></div>
			<div class="col-6">
				<form action="/dashboard" class="d-flex" method="POST">
					<select
						class="form-select w-50 h-25 mx-5"
						aria-label="Default select example"
						name="deliveryPerson"
						onchange="this.form.submit()"
					>
						<option selected disabled>Select delivery person</option>
						<% deliveryPerson.forEach(person => { %>
						<option value="<%= person._id %> <%= order._id %> ">
							<%= person.username %>
						</option>
						<% }) %>
					</select>
				</form>
			</div>
		</div>
	</div>
	<% }) %> <% } else { %>
	<h5 class="text-center text-black-50 m-5 text-uppercase">No orders found</h5>
	<% } %>
</div>
